body{margin: 0%;}
@media only screen  and (min-width: 0px) and (max-width: 480px)
{
    /*Encabezado*/
        #encabezado{
            display: grid;
            grid-template-areas: 
            "perfil"
            "shop"
            "titulo"
            "noti"
            "men"
            ;
            grid-template-columns: 13%  12% 0% 50% 12% 0% 13%;
            grid-template-rows: 25% 50% 25% ;
        }
        header{
            background: #000000;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: white;
            height: 95px;
            align-items: center;
            border-bottom: 3px #efb810 solid ;
        }
        perfil{
            grid-area: perfil;
        }
        shop{
            grid-area: shop;
        }
        titulo{
            grid-area: titulo;
        }
        .titulo{
            font-size: 32px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Trirong", serif;
            color: #daa520;
            text-decoration:none;
        }
        noti{
            grid-area: noti;
        }
        men{
            grid-area: men;
        }
        
        .iconos{
            text-align: center; 
            font-size: 23px; 
        }
        
    /*Pie de pagina*/   
    #piesito{
        display: grid;
        grid-template-areas: 
        ". . ."
        "red texto contacto"
        ". copyr .";
        grid-template-columns: 30%  40% 30%  ;
        grid-template-rows: 10% 80% 10%;
        }
        rede{
            grid-area: rede;
        }
        texto{
            grid-area: texto;
        }
        contacto{
            grid-area: contacto;
        }
        copyr{
            grid-area: copyr;
        } 
        footer{
            background: #000000;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: white;
            height: 150px;
            align-items: center;
            border-top: 3px #efb810 solid ;
        }
        footer{
            background: #000000;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: white;
            height: 220px;
            align-items: center;
            border-top: 3px #efb810 solid ;
            padding-top: 5px;
        }
        .sigue{
            margin-left: 23%;
            padding-top: 18%;
            margin-bottom: 3%;
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
        }
        .social{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            list-style: none;
            padding-top: 18%;
        }
        .iconoytexto{
            display: flex;
            flex-direction: row;
        }
        .defaulticonofooter{
            padding-right: 10px;
            font-size: 22px;
        }
        .defaulttextofooter{
            font-family: 'Crimson Text', serif;
            font-size: 18px;
        }
        .textofooter{
            font-family: 'Crimson Text', serif;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .contactos{
            display: flex;
            padding-right: 25px;
            flex-direction: column;
            align-items: flex-end;
        }
        .ocultar{
            visibility: hidden
        }
        .desaparecer{
            display:none !important;
        }
        .mantenimiento{
            width: 350px;
            height: 280px;
        }
}

@media only screen  and (min-width: 481px) and (max-width: 900px)
{
/*Encabezado*/
        #encabezado{
            display: grid;
            grid-template-areas: 
            "perfil"
            "shop"
            "titulo"
            "noti"
            "men"
            ;
            grid-template-columns: 13%  12% 0% 50% 12% 0% 13%;
            grid-template-rows: 25% 50% 25% ;
        }
        header{
            background: #000000;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: white;
            height: 95px;
            align-items: center;
            border-bottom: 3px #efb810 solid ;
        }
        perfil{
            grid-area: perfil;
        }
        shop{
            grid-area: shop;
        }
        titulo{
            grid-area: titulo;
        }
        .titulo{
            font-size: 32px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Trirong", serif;
            color: #daa520;
            text-decoration:none;
        }
        noti{
            grid-area: noti;
        }
        men{
            grid-area: men;
        }
        .iconos{
            text-align: center; 
            font-size: 23px; 
        }
        
/*Pie de pagina*/ 
    #piesito{
        display: grid;
        grid-template-areas: 
        ". . ."
        "red texto contacto"
        ". copyr .";
        grid-template-columns: 30%  40% 30%  ;
        grid-template-rows: 10% 80% 10%;
        }
        rede{
            grid-area: rede;
        }
        texto{
            grid-area: texto;
        }
        contacto{
            grid-area: contacto;
        }
        copyr{
            grid-area: copyr;
        }    
        
        footer{
            background: #000000;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: white;
            height: 220px;
            align-items: center;
            border-top: 3px #efb810 solid ;
            padding-top: 5px;
            }
            .sigue{
                margin-left: 23%;
                padding-top: 18%;
                margin-bottom: 3%;
                font-size: 16px;
                font-family: 'Poppins', sans-serif;
            }
            .social{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                list-style: none;
                padding-top: 18%;
            }
            .iconoytexto{
                display: flex;
                flex-direction: row;
            }
            .defaulticonofooter{
                padding-right: 10px;
                font-size: 22px;
            }
            .defaulttextofooter{
                font-family: 'Crimson Text', serif;
                font-size: 18px;
            }
            .textofooter{
                font-family: 'Crimson Text', serif;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .contactos{
                display: flex;
                padding-right: 25px;
                flex-direction: column;
                align-items: flex-end;
            }
            .ocultar{
                visibility: hidden
            }
            .desaparecer{
                display:none !important;
            }
            .mantenimiento{
                width: 400px;
                height: 300px;
            }
}

@media only screen and (min-width: 901px){
    /*Encabezado*/
        #encabezado{
            display: grid;
            grid-template-areas: 
            "perfil"
            "shop"
            "sell"
            "titulo"
            "noti"
            "color"
            "men"
            ;
            grid-template-columns: 4%  3% 3% 80% 3%  3% 4%;
            grid-template-rows: 25% 50% 25% ;
        }
        header{
            background: #000000;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: white;
            height: 100px;
            align-items: center;
            border-bottom: 3px #efb810 solid ;
        }
        perfil{
            grid-area: perfil;
        }
        shop{
            grid-area: shop;
        }
        sell{
            grid-area: sell;
        }
        titulo{
            grid-area: titulo;
        }
        noti{
            grid-area: noti;
        }
        ccolor{
            grid-area: ccolor;
        }
        men{
            grid-area: men;
        }
        .titulo{
            font-size: 50px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Trirong", serif;
            color: #daa520;
            text-decoration:none;
        }
        
        .iconos{
            text-align: center; 
            font-size: 23px; 
        }
    /*Pie de pagina*/ 
        #piesito{
                display: grid;
                grid-template-areas: 
                ". . ."
                "red texto contacto"
                ". copyr .";
                grid-template-columns: 25%  50% 25%  ;
                grid-template-rows: 30% 60% 10%;
                }
                rede{
                    grid-area: rede;
                }
                texto{
                    grid-area: texto;
                }
                contacto{
                    grid-area: contacto;
                }
                copyr{
                    grid-area: copyr;
                }    
        footer{
            background: #000000;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: white;
            height: 220px;
            align-items: center;
            border-top: 3px #efb810 solid ;
            padding-top: 5px;
        }
        .sigue{
            margin-left: 15%;
            margin-bottom: 3%;
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
        }
        .social{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            list-style: none;
            
        }
        .iconoytexto{
            display: flex;
            flex-direction: row;
            
        }
        .defaulticonofooter{
            padding-right: 10px;
            font-size: 22px;
        }
        .defaulttextofooter{
            font-family: 'Crimson Text', serif;
            font-size: 17px;
        }
        .textofooter{
            font-family: 'Crimson Text', serif;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .suscribirse{
                    width: 100%; 
                    background: rgba(0,0,0,0.3);
                    border: none;
                    outline: none;
                    padding: 10px;
                    font-size: 18px;
                    color: #fff;
                    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
                    border: 1px solid rgba(0,0,0,0.3);
                    border-radius: 4px;
                    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
                    -webkit-transition: box-shadow .5s ease;
                    -moz-transition: box-shadow .5s ease;
                    -o-transition: box-shadow .5s ease;
                    -ms-transition: box-shadow .5s ease;
                    transition: box-shadow .5s ease;
        }
        .contac{
            display: flex;
            padding-right: 175px;
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: 3%;
            font-size: 16px; 
            font-family: 'Poppins', sans-serif; 
        }
        .contactos{
            display: flex;
            padding-right: 25px;
            flex-direction: column;
            align-items: flex-end;
        }
        .mantenimiento{
            width: 700px;
            height: 600px;
        }
}

