body{margin: 0%;}
/*
div{border: #00B3FF 2px solid;}
*/

@media only screen  and (min-width: 0px) and (max-width: 480px)
{
    /*Encabezado*/
        #encabezado{
            display: grid;
            grid-template-areas: 
            "perfil"
            "shop"
            "titulo"
            "noti"
            "men"
            ;
            grid-template-columns: 13%  12% 0% 50% 12% 0% 13%;
            grid-template-rows: 25% 50% 25% ;
        }
        header{
            background: #000000;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: white;
            height: 95px;
            align-items: center;
            border-bottom: 3px #efb810 solid ;
        }
        perfil{
            grid-area: perfil;
        }
        shop{
            grid-area: shop;
        }
        titulo{
            grid-area: titulo;
        }
        .titulo{
            font-size: 32px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Trirong", serif;
            color: #daa520;
        }
        noti{
            grid-area: noti;
        }
        men{
            grid-area: men;
        }
        .iconos{
            text-align: center; 
            font-size: 23px; 
        }
        
    /*Pie de pagina*/   
    #piesito{
        display: grid;
        grid-template-areas: 
        ". . ."
        "red texto contacto"
        ". copyr .";
        grid-template-columns: 30%  40% 30%  ;
        grid-template-rows: 10% 80% 10%;
        }
        rede{
            grid-area: rede;
        }
        texto{
            grid-area: texto;
        }
        contacto{
            grid-area: contacto;
        }
        copyr{
            grid-area: copyr;
        } 
        footer{
            background: #000000;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: white;
            height: 150px;
            align-items: center;
            border-top: 3px #efb810 solid ;
        }
        .face{color: rgb(59, 62, 253);}
        .twi{color: #00B3FF;}
        .you{color: #E43100;}
        .ins{color: #ba68c8;}
        .lin{color: #2471d6;}
        .cel{color: #fdfdfd;}
        .wsa{color: rgb(92, 233, 57);}
        .mai{color: #f54020;}
        footer{
            background: #000000;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: white;
            height: 220px;
            align-items: center;
            border-top: 3px #efb810 solid ;
            padding-top: 5px;
        }
        .social{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            list-style: none;
        }
        .iconoytexto{
            display: flex;
            flex-direction: row;
        }
        .defaulticonofooter{
            padding-right: 10px;
            font-size: 22px;
        }
        .defaulttextofooter{
            font-family: 'Crimson Text', serif;
            font-size: 18px;
        }
        .efecto:hover{
            color: #daa520;
        }
        .textofooter{
            font-family: 'Crimson Text', serif;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .contactos{
            display: flex;
           padding-right: 25px;
            flex-direction: column;
            align-items: flex-end;
        }
        .ocultar{
            visibility: hidden
        }
        .desaparecer{
            display:none !important;
        }
}

@media only screen  and (min-width: 481px) and (max-width: 700px)
{
/*Encabezado*/
        #encabezado{
            display: grid;
            grid-template-areas: 
            "perfil"
            "shop"
            "titulo"
            "noti"
            "men"
            ;
            grid-template-columns: 13%  12% 0% 50% 12% 0% 13%;
            grid-template-rows: 25% 50% 25% ;
        }
        header{
            background: #000000;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: white;
            height: 95px;
            align-items: center;
            border-bottom: 3px #efb810 solid ;
        }
        perfil{
            grid-area: perfil;
        }
        shop{
            grid-area: shop;
        }
        titulo{
            grid-area: titulo;
        }
        .titulo{
            font-size: 32px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Trirong", serif;
            color: #daa520;
        }
        noti{
            grid-area: noti;
        }
        men{
            grid-area: men;
        }
        .iconos{
            text-align: center; 
            font-size: 23px; 
        }
        
/*Pie de pagina*/ 
    #piesito{
        display: grid;
        grid-template-areas: 
        ". . ."
        "red texto contacto"
        ". copyr .";
        grid-template-columns: 30%  40% 30%  ;
        grid-template-rows: 10% 80% 10%;
        }
        rede{
            grid-area: rede;
        }
        texto{
            grid-area: texto;
        }
        contacto{
            grid-area: contacto;
        }
        copyr{
            grid-area: copyr;
        }    
        .face{color: rgb(59, 62, 253);}
        .twi{color: #00B3FF;}
        .you{color: #E43100;}
        .ins{color: #ba68c8;}
        .lin{color: #2471d6;}
        .cel{color: #fdfdfd;}
        .wsa{color: rgb(92, 233, 57);}
        .mai{color: #f54020;}
        footer{
            background: #000000;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: white;
            height: 220px;
            align-items: center;
            border-top: 3px #efb810 solid ;
            padding-top: 5px;
            }
            .social{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                list-style: none;
            }
            .iconoytexto{
                display: flex;
                flex-direction: row;
            }
            .defaulticonofooter{
                padding-right: 10px;
                font-size: 22px;
            }
            .defaulttextofooter{
                font-family: 'Crimson Text', serif;
                font-size: 18px;
            }
            .efecto:hover{
                color: #daa520;
            }
            .textofooter{
                font-family: 'Crimson Text', serif;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .contactos{
                display: flex;
            padding-right: 25px;
                flex-direction: column;
                align-items: flex-end;
            }
            .ocultar{
                visibility: hidden
            }
            .desaparecer{
                display:none !important;
            }
}

@media only screen and (min-width: 701px){
    /*Encabezado*/
        #encabezado{
            display: grid;
            grid-template-areas: 
            "perfil"
            "shop"
            "sell"
            "titulo"
            "noti"
            "color"
            "men"
            ;
            grid-template-columns: 4%  3% 3% 80% 3%  3% 4%;
            grid-template-rows: 25% 50% 25% ;
        }
        header{
            background: #000000;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: white;
            height: 100px;
            align-items: center;
            border-bottom: 3px #efb810 solid ;
        }
        perfil{
            grid-area: perfil;
        }
        shop{
            grid-area: shop;
        }
        sell{
            grid-area: sell;
        }
        titulo{
            grid-area: titulo;
        }
        noti{
            grid-area: noti;
        }
        ccolor{
            grid-area: ccolor;
        }
        men{
            grid-area: men;
        }
        .titulo{
            font-size: 42px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Trirong", serif;
            color: #daa520;
        }
        .iconos{
            text-align: center; 
            font-size: 23px; 
        }
    /*Pie de pagina*/ 
        #piesito{
                display: grid;
                grid-template-areas: 
                ". . ."
                "red texto contacto"
                ". copyr .";
                grid-template-columns: 30%  40% 30%  ;
                grid-template-rows: 10% 80% 10%;
                }
                rede{
                    grid-area: rede;
                }
                texto{
                    grid-area: texto;
                }
                contacto{
                    grid-area: contacto;
                }
                copyr{
                    grid-area: copyr;
                }    
        .face{color: rgb(59, 62, 253);}
        .twi{color: #00B3FF;}
        .you{color: #E43100;}
        .ins{color: #ba68c8;}
        .lin{color: #2471d6;}
        .cel{color: #fdfdfd;}
        .wsa{color: rgb(92, 233, 57);}
        .mai{color: #f54020;}
        footer{
            background: #000000;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: white;
            height: 220px;
            align-items: center;
            border-top: 3px #efb810 solid ;
            padding-top: 5px;
        }
        .social{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            list-style: none;
        }
        .iconoytexto{
            display: flex;
            flex-direction: row;
        }
        .defaulticonofooter{
            padding-right: 10px;
            font-size: 22px;
        }
        .defaulttextofooter{
            font-family: 'Crimson Text', serif;
            font-size: 18px;
        }
        .efecto:hover{
            color: #daa520;
        }
        .textofooter{
            font-family: 'Crimson Text', serif;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .contactos{
            display: flex;
           padding-right: 25px;
            flex-direction: column;
            align-items: flex-end;
        }
}

