div{border: 2px rgb(6, 84, 228) solid}
body{margin: 0%;}
@media only screen and (max-width: 480px){
/*Encabezado*/
    #encabezado{
            display: grid;
            grid-template-areas: 
            "perfil"
            "shop"
            "titulo"
            "noti"
            "men"
            ;
            grid-template-columns: 10%  10% 60% 10%  10%;
            grid-template-rows: 25% 50% 25% ;
            height: 95px;
            border: 2px rgb(58, 228, 6) solid
        }
        /**/
        perfil{
            grid-area: perfil;
        }
        shop{
            grid-area: shop;
        }
        titulo{
            grid-area: titulo;
        }
        .titulo{
            font-size: 32px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        noti{
            grid-area: noti;
        }
        men{
            grid-area: men;
        }
        .iconos{
            text-align: center; 
            font-size: 23px; 
            padding-top:8px;
        }
      
/*Pie de pagina*/   
    #pie{
            display: grid;
            grid-template-areas: 
            "ifaceb"
            "face"
            "itwi"
            "twi"
            "iyou"
            "you"
            "iinsta"
            "insta"
            ;
            grid-template-columns: 15%  25% 30% 30% ;
            grid-template-rows: 25% 25% 25% 25% ;
            height: 120px;
            border: 2px rgb(237, 228, 100) solid
        }
        iface{
            grid-area: iface;
           
        }
        .iface{
            text-align: center;
            font-size: 23px;
            color: rgb(0, 4, 255);
        }
        face{
            grid-area: face;
            
        }
        itwi{
            grid-area: itwi;
        }
        .itwi{
            text-align: center;
            font-size: 23px;
            color: #00B3FF;
        }
        twi{
            grid-area: twi;
        }
        iyou{
            grid-area: iyou;
        }
        .iyou{
            text-align: center;
            font-size: 23px;
            color: #E43100;
        }
        you{
            grid-area: you;
        }
        iinsta{
            grid-area: iinsta;
        }
        .iinsta{
            text-align: center;
            font-size: 23px;
            color: #8008BD;
        }
        insta{
            grid-area: insta;
        }
        .centrarizq{
            display: flex;
            align-items: center;
            
        }
        
}
