main {
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0%; }
  @media only screen and (max-width: 480px) {
    main h3 {
      color: #fff;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      letter-spacing: 1px;
      text-align: center;
      font-size: 22PX;
      font-family: Copperplate;
      border: ridge 0.8px #daa520;
      border-radius: 3%;
      padding: 11px;
      margin-top: 2%;
      margin-left: 25%;
      margin-right: 25%; } }
  @media only screen and (min-width: 481px) and (max-width: 800px) {
    main h3 {
      color: #fff;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      letter-spacing: 1px;
      text-align: center;
      font-size: 26px;
      font-family: Copperplate;
      border: ridge 0.8px #daa520;
      border-radius: 3%;
      padding: 11px;
      margin-top: 2%;
      margin-left: 35%;
      margin-right: 35%; } }
  @media only screen and (min-width: 801px) {
    main h3 {
      color: #fff;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      letter-spacing: 1px;
      text-align: center;
      font-size: 30PX;
      font-family: Copperplate;
      border: ridge 0.8px #daa520;
      border-radius: 3%;
      padding: 11px;
      margin-top: 1%;
      margin-left: 40%;
      margin-right: 40%; } }
  main input {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease; }
  main input:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2); }
  main span {
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
    font-size: 15px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px; }

@media only screen and (max-width: 480px) {
  #cuerpo {
    display: grid;
    grid-template-areas: "subtitulo" "formulario" "termino" "boton";
    grid-template-columns: 100%;
    grid-template-rows: 15% 55% 10% 20%;
    height: 540px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: black; }
  subtitulo {
    grid-area: subtitulo; }
  formulario {
    grid-area: formulario; }
  termino {
    grid-area: termino; }
  boton {
    grid-area: boton; }
  div.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    font-size: 16px; }
  div.termino {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    div.termino form {
      font-size: 14px;
      color: #FFFFFF; }
      div.termino form input {
        margin: 0%;
        padding: 0%; }
  div.boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
    width: 30%; } }

@media only screen and (min-width: 481px) and (max-width: 800px) {
  #cuerpo {
    display: grid;
    grid-template-areas: "subtitulo" "formulario" "termino" "boton";
    grid-template-columns: 100%;
    grid-template-rows: 15% 55% 10% 20%;
    height: 615px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: black; }
  subtitulo {
    grid-area: subtitulo; }
  formulario {
    grid-area: formulario; }
  termino {
    grid-area: termino; }
  boton {
    grid-area: boton; }
  div.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    font-size: 16px; }
  div.termino {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    div.termino form {
      font-size: 14px;
      color: #FFFFFF; }
      div.termino form input {
        margin: 0%;
        padding: 0%; }
  div.boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    width: 22%; } }

@media only screen and (min-width: 801px) {
  #cuerpo {
    display: grid;
    grid-template-areas: "subtitulo" "formulario" "termino" "boton";
    grid-template-columns: 100%;
    grid-template-rows: 15% 55% 10% 20%;
    height: 615px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: black; }
  subtitulo {
    grid-area: subtitulo; }
  formulario {
    grid-area: formulario; }
  termino {
    grid-area: termino; }
  boton {
    grid-area: boton; }
  div.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    font-size: 16px; }
  div.termino {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    div.termino form {
      font-size: 14px;
      color: #FFFFFF; }
      div.termino form input {
        margin: 0%;
        padding: 0%; }
  div.boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 44%;
    width: 12%; } }
