@media only screen and (max-width: 480px){
    .ctop{
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        }
    .cbot{
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .alinearform{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 13px;
    }
    .bienvenido{
        height: 150px;
        display: flex;
        align-items: center;
        font-size: 36px;
    }
}