@media only screen and (max-width: 480px){
    .ctop{
        height: 660px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        
        }
    .cbot{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 13px;
    }
    .mperfil{
        height: 110px;
        display: flex;
        align-items: center;
        font-size: 36px;
    }
}