@media only screen and (max-width: 480px) {
  main {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0%; }
    main h3 {
      color: #fff;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      letter-spacing: 1px;
      text-align: center;
      font-size: 32PX;
      font-family: Copperplate;
      border: ridge 0.8px #daa520;
      border-radius: 3%;
      padding: 11px; }
    main div.cuerpo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center; }
      main div.cuerpo div.ctop {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        padding-top: 30px;
        padding-bottom: 15px; }
      main div.cuerpo input {
        width: 100%;
        margin-bottom: 10px;
        background: rgba(0, 0, 0, 0.3);
        border: none;
        outline: none;
        padding: 10px;
        font-size: 16px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
        -webkit-transition: box-shadow .5s ease;
        -moz-transition: box-shadow .5s ease;
        -o-transition: box-shadow .5s ease;
        -ms-transition: box-shadow .5s ease;
        transition: box-shadow .5s ease; }
      main div.cuerpo input:focus {
        box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2); }
      main div.cuerpo span {
        background: #232526;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #414345, #232526);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #414345, #232526);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 10px;
        font-size: 15px;
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 20px; } }

@media only screen and (min-width: 481px) {
  main {
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0%; }
    main h3 {
      color: #fff;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      letter-spacing: 1px;
      text-align: center;
      font-size: 32PX;
      font-family: Copperplate;
      border: ridge 0.8px #daa520;
      border-radius: 3%;
      padding: 11px; }
    main div.cuerpo {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 400px; }
      main div.cuerpo div.ctop {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        padding-top: 30px;
        padding-bottom: 15px;
        padding-left: 10%;
        padding-right: 15%;
        width: 50%; }
      main div.cuerpo div.cbot {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-left: 10%;
        padding-top: 30px;
        padding-right: 10%; }
      main div.cuerpo input {
        width: 100%;
        margin-bottom: 10px;
        background: rgba(0, 0, 0, 0.3);
        border: none;
        outline: none;
        padding: 10px;
        font-size: 16px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
        -webkit-transition: box-shadow .5s ease;
        -moz-transition: box-shadow .5s ease;
        -o-transition: box-shadow .5s ease;
        -ms-transition: box-shadow .5s ease;
        transition: box-shadow .5s ease; }
      main div.cuerpo input:focus {
        box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2); }
      main div.cuerpo span {
        background: #232526;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #414345, #232526);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #414345, #232526);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 10px;
        font-size: 15px;
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 20px; } }
