@import 'default';
@media only screen and (max-width: 480px){
    
            #cuerpo{
                display: grid;
                grid-template-areas: 
                "subtitulo"
                "formulario"
                "termino"
                "boton"
                ;
                grid-template-columns: 100%;
                grid-template-rows: 15% 55% 10% 20%;
                height: 540px;
                width: 100%;
                font-family: 'Open Sans', sans-serif;
                color: rgb(0, 0, 0);
                    }
                    subtitulo{
                        grid-area: subtitulo;
                    }
                    formulario{
                        grid-area: formulario;
                    }
                    termino{
                        grid-area: termino;
                    }
                    boton{
                        grid-area: boton;
                    }
            
            div.formulario{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 10px;
                font-size: 16px;
                }
            div.termino{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                form{
                    font-size: 14px;
                    color: #FFFFFF;
                    input{margin: 0%; padding: 0%;}
                }
            }
            div.boton{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 35%;
                width: 30%;
                }
             footer{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
             }   
}
@media only screen and (min-width: 481px) and (max-width: 800px)
{
    #cuerpo{
        display: grid;
        grid-template-areas: 
        "subtitulo"
        "formulario"
        "termino"
        "boton"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 15% 55% 10% 20%;
        height: 615px;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        
        color: rgb(0, 0, 0);
            }
            subtitulo{
                grid-area: subtitulo;
            }
            formulario{
                grid-area: formulario;
            }
            termino{
                grid-area: termino;
            }
            boton{
                grid-area: boton;
            }
    
    div.formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        font-size: 16px;
        }
    div.termino{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        form{
            font-size: 14px;
            color: #FFFFFF;
            input{margin: 0%; padding: 0%;}
        }
    }
    div.boton{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 35%;
        width: 22%;
        }
     footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
     }
}
@media only screen and (min-width: 801px){
    #cuerpo{
        display: grid;
        grid-template-areas: 
        "subtitulo"
        "formulario"
        "termino"
        "boton"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 15% 55% 10% 20%;
        height: 615px;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        color: rgb(0, 0, 0);
            }
            subtitulo{
                grid-area: subtitulo;
            }
            formulario{
                grid-area: formulario;
            }
            termino{
                grid-area: termino;
            }
            boton{
                grid-area: boton;
            }
    div.formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        font-size: 16px;
        }
    div.termino{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        form{
            font-size: 14px;
            color: #FFFFFF;
            input{margin: 0%; padding: 0%;}
        }
    }
    div.boton{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 45%;
        width: 10%;
        }
     footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
     }
     
}
            
