/*Celular*/
@media only screen and (max-width: 480px){
    #cuerpo{
        display: grid;
        grid-template-areas: 
        "buscador"
        "principal"
        "seccionuno"
        "secciondos"
        "secciontres"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 10% 20% 20% 20% 20%;
        height: 800px;
    }
    buscador{
        grid-area: buscador;
    }
    principal{
        grid-area: principal;
    }
    seccionuno{
        grid-area: seccionuno;
    }
    secciondos{
        grid-area: secciondos;
    }
    secciontres{
        grid-area: secciontres;
    }
/*Main de Index*/
    .cuerpoindex{
        background: #ECE9E6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: white;
        align-items: center;
/*Buscador*/
    div.buscador{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        div.espa1{
            width: 5%;  
        }
        div.bus{
            width: 90%;
            padding: 8px 3% 8px 3%;
        }
        div.espa2{
            width: 5%;  
        }
        }
/*Slider*/
        div.slider{
            margin: auto;
            overflow: hidden; /*Ajusta para que la imagen no salga del div*/
            width: 100%;
        }
/*Seccion de miniaturas*/
        div.seccion{
            display: flex;
            flex-direction: column  ;
            width: 100%;
            color: #000000;
            div.semititulo{
                padding-left: 2%;
                font-size: 18px;
                border-top: 4px rgb(172, 184, 176) solid;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 500;
            }
            nav.navminiaturas{
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                padding-top: 5px;
                div.miniaturas{
                    margin-left: 5%;
                    margin-right: 5%;
                    background: #ECE9E6;  /* fallback for old browsers */
                    background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    border: ridge 3px #daa520;
                    border-radius:10%;
                    font-size: 16px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    text-align: center;
                    height: 110px;
                    overflow: hidden;
                    box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
                    cursor: default;
                    transition: all 400ms ease;
                    .miniatura{
                        width: 80px;
                        height: 80px;
                    }
                }
                div.desaparecer{
                    display:none !important;
                }
                div.precio{
                    font-size: 30px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    text-align: end;
                }
                .miniaturas:hover{
                    box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);
                    transform: translate(-3%);
                }
            }
        }
    }
}

/*Netbook*/
@media only screen and (min-width: 481px)and (max-width: 1200px){
    #cuerpo{
            display: grid;
            grid-template-areas: 
            "buscador"
            "principal"
            "seccionuno"
            "secciondos"
            "secciontres"
            ;
            grid-template-columns: 100%;
            grid-template-rows: 7% 29% 20% 20% 20%;
            height: 1500px;
            }
            buscador{
                grid-area: buscador;
            }
            principal{
                grid-area: principal;
            }
            seccionuno{
                grid-area: seccionuno;
            }
            secciondos{
                grid-area: secciondos;
            }
            secciontres{
                grid-area: secciontres;
            }
/*Main de Index*/
        .cuerpoindex{
            background: #ECE9E6;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: white;
            align-items: center;
/*Buscador*/
    div.buscador{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        div.espa1{
            width: 10%;  
        }
        div.bus{
            width: 80%;
            padding: 8px 13% 8px 13%;
        }
        div.espa2{
             width: 10%;  
        }
        }
/*Slider*/
        div.slider{
            margin: auto;
            overflow: hidden; /*Ajusta para que la imagen no salga del div*/
            width: 100%;
            .navgrande{
                width: 105px;
                height: 425px;
            }
        }
/*Seccion de miniaturas*/
        div.seccion{
            display: flex;
            flex-direction: column  ;
            width: 100%;
            color: #000000;
            div.semititulo{
                padding-left: 2%;
                font-size: 22px;
                border-top: 4px rgb(172, 184, 176) solid;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 500;
            }
            nav.navminiaturas{
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                padding-top: 5px;
                div.miniaturas{
                    padding: 3px;
                    margin-left: 4%;
                    margin-right: 4%;
                    background: #ECE9E6;  /* fallback for old browsers */
                    background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    border: ridge 3px #daa520;
                    border-radius:10%;
                    font-size: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    text-align: center;
                    height: 220px;
                    overflow: hidden;
                    box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
                    cursor: default;
                    transition: all 400ms ease;
                    .miniatura{
                        width: 120px;
                        height: 120px;
                        border-radius:10%;
                    }
                }
                div.precio{
                    font-size: 30px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    text-align: end;
                }
                div.desaparecermedio{
                    display:none !important;
                }
                .miniaturas:hover{
                    box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);
                    transform: translate(-3%);
                }
                
            }
        }
    }
}
/*PC de escritorio*/
@media only screen and (min-width: 1201px){
    #cuerpo{
            display: grid;
            grid-template-areas: 
            "buscador"
            "principal"
            "seccionuno"
            "secciondos"
            "secciontres"
            ;
            grid-template-columns: 100%;
            grid-template-rows: 7% 29% 20% 20% 20%;
            height: 1500px;
            }
            buscador{
                grid-area: buscador;
            }
            principal{
                grid-area: principal;
            }
            seccionuno{
                grid-area: seccionuno;
            }
            secciondos{
                grid-area: secciondos;
            }
            secciontres{
                grid-area: secciontres;
            }
/*Main de Index*/
        .cuerpoindex{
            background: #ECE9E6;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: white;
            align-items: center;
/*Buscador*/
    div.buscador{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        div.espa1{
            width: 10%; 
        }
        div.bus{
            width: 80%;
            padding: 8px 13% 8px 13%;
        }
        div.espa2{
            width: 10%;
        }
        }
/*Slider*/
        div.slider{
            margin: auto;
            overflow: hidden; /*Ajusta para que la imagen no salga del div*/
            width: 100%;
            .navgrande{
                width: 105px;
                height: 425px;
            }
        }
/*Seccion de miniaturas*/
        div.seccion{
            display: flex;
            flex-direction: column  ;
            width: 100%;
            color: #000000;
            div.semititulo{
                padding-left: 2%;
                font-size: 22px;
                border-top: 4px rgb(172, 184, 176) solid;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 500;
            }
            nav.navminiaturas{
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                padding-top: 5px;
                div.miniaturas{
                    padding: 8px 4px 4px 4px;
                    margin-left: 3%;
                    margin-right: 3%;
                    background: #ECE9E6;  /* fallback for old browsers */
                    background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    border: ridge 3px #daa520;
                    border-radius:10%;
                    font-size: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    text-align: center;
                    height: 220px;
                    overflow: hidden;
                    box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
                    cursor: default;
                    transition: all 400ms ease;
                    .miniatura{
                        width: 130px;
                        height: 130px;
                        border-radius:10%;
                    }
                }
                div.precio{
                    font-size: 30px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    text-align: end;
                }
                .miniaturas:hover{
                    box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);
                    transform: translate(-3%);
                }
            }
        }
    }
}