/*div{
    border: blue solid 2px;
}*/
@media only screen and (max-width: 700px){
    #mproducto{
        display: grid;
        grid-template-areas: 
        "fotop"
        "descp"
        ;
        grid-template-columns:  100%;
        grid-template-rows:  40% 60%    ;
        height: 1050px;
    }
    fotop{
        grid-area: fotop;
    }
    descp{
        grid-area: descp;
    }
        main{
            background: #ECE9E6;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            margin-top: 80px;
            width: 100%;
            .desaparecer{
                display:none !important;
            }
            div.fotop{
                display: flex;
                justify-content: center;
                margin-left: 10%;
                margin-right: 10%;
                .foto{
                    width: 380px;
                    height: 400px;
                    border: ridge 3px #daa520;
                    border-radius:3%;
                }
            }
            div.descp{
                height: 525px;
                width: 18rem;
                margin: 4% 1% 1% 15%;
                padding:  1% 1% 2% 0%;
                border: ridge 1px #daa520;
                li.precio{
                    font-size: 22px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bolder;
                }
                ul.terminos{
                    font-size: 12px;
                    }
                div.sele{
                    select{
                        margin-top: 1%;
                        margin-bottom: 4%;
                     }
                 }
            }
            }
        }

@media only screen and (min-width: 701px)and (max-width: 1000px){
    #mproducto{
        display: grid;
        grid-template-areas: 
        "fotop"
        "descp"
        ;
        grid-template-columns:  100%;
        grid-template-rows:  50% 50%    ;
        height: 1300px;
    }
    fotop{
        grid-area: fotop;
    }
    descp{
        grid-area: descp;
    }
        main{
            background: #ECE9E6;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            margin-top: 80px;
            
            .desaparecer{
                display:none !important;
            }
            div.fotop{
                display: flex;
                justify-content: center;
                margin-left: 10%;
                margin-right: 10%;
                .foto{
                    width: 600px;
                    height: 630px;
                    border: ridge 3px #daa520;
                    border-radius:3%;
                }
            }
            div.descp{
                height: 525px;
                width: 18rem;
                border: ridge 1px #daa520;
                margin: 4% 1% 1% 35%;
                padding:  1% 0% 2% 0%;
                li.precio{
                    font-size: 22px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bolder;
                }
                ul.terminos{
                    font-size: 11px;
                    }
                div.sele{
                    select{
                        margin-top: 1%;
                        margin-bottom: 4%;
                     }
                 }
            }
            }
        }
        


@media only screen and (min-width: 1001px){
    
    #mproducto{
            display: grid;
            grid-template-areas: 
            "mini"
            "fotop"
            "descp"
            ;
            grid-template-columns:10% 60% 30%;
            grid-template-rows:  100%;
            height: 580px;
        }
        mini{
            grid-area: mini;
        }
        fotop{
            grid-area: fotop;
        }
        descp{
            grid-area: descp;
        }
        main{
            background: #ECE9E6;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            margin-top: 40px; 
            
            .mini{
                display: flex;
                flex-direction: column;
                    .miniaturas{
                        padding: 8px 4px 4px 4px;
                        margin-left: 30%;
                        margin-right: 3%;
                        border: ridge 3px #daa520;
                        border-radius:10%;
                        font-size: 20px;
                        height: 110px;
                        width:  110px;
                        overflow: hidden;
                        box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
                        cursor: default;
                        transition: all 400ms ease;
                            .miniatura{
                                width: 100px;
                                height: 100px;
                                padding-bottom: 7%;
                            }
                    }
                    .miniaturas:hover{
                        box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);
                        transform: translate(-3%);
                    }
                }
            div.fotop{
                margin-left: 30%;
                margin-right: 7%;
                .foto{
                    height: 510px;
                    border: ridge 3px #daa520;
                    border-radius:3%;
                }
            }
            div.descp{
                height: 510px;
                width: 18rem;
                border: ridge 1px #daa520;
                padding:  1% 0% 2% 0%;
                margin-left: 8%;
                li.precio{
                    font-size: 22px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bolder;
                }
                ul.terminos{
                    font-size: 12px;
                    }
                div.sele{
                    select{
                        margin-top: 1%;
                        margin-bottom: 4%;
                     }
                 }
            }
        }
        
}