
@media only screen and (max-width: 480px){
    #mproducto{
            display: grid;
            grid-template-areas: 
            "fotop"
            "descp"
            ;
            grid-template-columns:  100%;
            grid-template-rows:  50% 50%    ;
            height: 750px;
        }
        fotop{
            grid-area: fotop;
        }
        descp{
            grid-area: descp;
        }
        .foto{
            width: 100%;
            height: 380px;
        }
        div.descp{
            display: flex;
            flex-direction: column;
            width: 100%;
            background: #ECE9E6;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            padding-left: 3%;
            font-family: 'Open Sans', sans-serif;
            div.titulo_descripcion{
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 22px;
                font-weight: bold;
            }
            div.descripcion{
                height: 280px;
                font-size: 16px;
            }
            div.boton{
                padding-bottom: 3%;
            }
            div.terminos{
                font-size: 12px;
                width: 95%;
            }
        }
}

@media only screen and (min-width: 481px)and (max-width: 800px){
    #mproducto{
            display: grid;
            grid-template-areas: 
            "fotop"
            "descp"
            ;
            grid-template-columns:  50% 50%;
            grid-template-rows:  100%    ;
            height: 480px;
        }
        fotop{
            grid-area: fotop;
        }
        descp{
            grid-area: descp;
        }
        main{
            background: #ECE9E6;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            margin-top: 80px;
            div.fotop{
                
                .foto{
                    width: 310px;
                    height: 310px;
                    margin-left: 5%;
                }
            }
            div.descp{
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-left: 3%;
                font-family: 'Open Sans', sans-serif;
                height: 400px;
                div.titulo_descripcion{
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    font-weight:bold
                }
                div.descripcion{
                    height: 280px;
                    font-size: 16px;
                }
                div.boton{
                    padding-bottom: 3%;
                }
                div.terminos{
                    font-size: 12px;
                    width: 95%;
                }
            }
        }
        
}
@media only screen and (min-width: 481px){
    #mproducto{
            display: grid;
            grid-template-areas: 
            "fotop"
            "descp"
            ;
            grid-template-columns:  50% 50%;
            grid-template-rows:  100%    ;
            height: 535px;
        }
        fotop{
            grid-area: fotop;
        }
        descp{
            grid-area: descp;
        }
        main{
            background: #ECE9E6;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            margin-top: 80px;
            div.fotop{
                .foto{
                    width: 410px;
                    height: 410px;
                    margin-left: 25%;
                }
            }
            div.descp{
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-left: 3%;
                font-family: 'Open Sans', sans-serif;
                height: 400px;
                div.titulo_descripcion{
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 35px;
                    font-weight:bold;
                }
                div.descripcion{
                    height: 280px;
                    font-size: 16px;
                }
                div.boton{
                    padding-bottom: 3%;
                }
                div.terminos{
                    font-size: 12px;
                    width: 95%;
                }
            }
        }
        
}